name: Build (MSVC)

on:
  workflow_dispatch:

env:
  SOLUTION_FILE_PATH: ShaderLoader/ShaderLoader.sln

permissions:
  contents: read

jobs:
  build:
    runs-on: windows-2025-vs2026

    steps:
      - uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98

      - name: Add MSBuild to PATH
        uses: microsoft/setup-msbuild@767f00a3f09872d96a0cb9fcd5e6a4ff33311330

      - name: Build Release
        run: msbuild /m /p:Configuration=Release ${{env.SOLUTION_FILE_PATH}} /p:PostBuildEventUseInBuild=false

      - name: Upload artifacts
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f
        with:
          name: ShaderLoader-msvc.zip
          path: |
            ShaderLoader/Release/Fallout Shader Loader.dll
            ShaderLoader/Release/Fallout Shader Loader.pdb
          retention-days: 1